<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Dodaj linki do stylów Plotly i biblioteki JavaScriptowej Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>S&P 500 Index</h2>
                <!-- Wyświetl interaktywny wykres Plotly -->
                {{ plot_url_sp500 | safe }}
            </div>
            <div class="col-lg-6">
                <div class="row">
                    {% for symbol, plot_url in plot_urls.items() %}
                    <div class="col-lg-4 mb-3">
                        <h2>{{ symbol }} Stock</h2>
                        <!-- Wyświetl interaktywny wykres Plotly -->
                        {{ plot_url | safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
