<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Simulator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

    <style>
        .stock-item {
            margin: 5px 0;
        }
        .chart-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .chart-container {
            width: 45%;
        }
    </style>
</head>
<body style="margin-top: 100px;">
    {% include 'navbar.html' %}
    <div class="container mt-4">
        <h1 style="font-size: 30px;" class="text-center mb-4">PORTFOLIO SIMULATOR</h1>
        <form id="portfolioForm">
            <div class="form-group">
                <label for="search">Search companies from S&P500:</label>
                <input type="text" class="form-control" id="search" placeholder="Enter ticker or company name" onkeyup="filterStocks()">
            </div>
            <div class="form-group">
                <label for="tickerSelect">Click to select companies from S&P500:</label>
                <select multiple class="form-control" id="tickerSelect">
                    {% for ticker, name in tickers_and_names %}
                        <option value="{{ ticker }}" class="stock-item" data-ticker="{{ ticker }}" data-name="{{ name }}">{{ ticker }} - {{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="selectedStocks">My portfolio:</label>
                <table class="table table-bordered" id="selectedStocksTable">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Investment</th>
                            <th>% Share</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label>Total Investment: $</label>
                <span id="totalInvestment"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="startDate">Start Date:</label>
                        <input type="date" class="form-control" id="startDate" required>
                    </div>
                    <div class="col">
                        <label for="endDate">End Date:</label>
                        <input type="date" class="form-control" id="endDate" required>
                    </div>
                    <div class="col">
                        <label for="riskAversion">Risk Aversion:</label>
                        <input type="number" class="form-control" id="riskAversion" step="0.01" required>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 20px;">Get Prices
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-warning btn-block font-weight-bold" id="getPricesBtn">Get Prices</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning btn-block font-weight-bold" id="showPerformanceBtn">Show Performance</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning btn-block font-weight-bold" id="optimizePortfolioBtn">Optimize Portfolio</button>
                        </div>
                        <div class="col" id="generateReportBtnContainer" style="display: none;">
                            <button type="button" class="btn btn-warning btn-block font-weight-bold" id="generateReportBtn">Generate Report</button>
                        </div>                       
                    </div>
                </div>
        </form>
        <div class="chart-row mt-4">
            <div id="pieChartInitial" class="chart-container"></div>
            <div id="pieChartFinal" class="chart-container"></div>
        </div>
        <div id="barChart" class="mt-4"></div>
        <div id="portfolioResults" class="mt-4"></div>
        <div id="portfolioReturn" class="mt-4"></div>
        <div id="performanceChart" class="mt-4"></div>
        <div class="row">
            <div class="col-md-4">
                <div id="allocation-list" class="mt-4"></ul>
                </div>
            </div>
            <div class="col-md-4">
                <div id="averageReturns" class="mt-4"></div>
            </div>
            <div class="col-md-4">
                <div id="volatility" class="mt-4"></div>
            </div>
        </div>
        <div id="covarianceMatrix" class="mt-4"></div> 
        <div id="correlationMatrix" class="mt-4"></div> 
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>


    <script>
        window.jsPDF = window.jspdf.jsPDF;
        $(document).ready(function () {
    $('#search').on('input', function () {
        var searchText = $(this).val().toLowerCase();
        $('.stock-item').each(function () {
            var ticker = $(this).data('ticker').toLowerCase();
            var name = $(this).data('name').toLowerCase();
            if (ticker.includes(searchText) || name.includes(searchText)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    $('#tickerSelect').change(function () {
        var selectedStocks = $(this).val();
        selectedStocks.forEach(function(stock) {
            addStockToPortfolio(stock);
        });
    });

    function addStockToPortfolio(stock) {
        $('#selectedStocksTable tbody').append('<tr>' +
            '<td>' + stock + '</td>' +
            '<td><input type="number" class="form-control priceInput" value="0" readonly></td>' +
            '<td><input type="number" class="form-control quantityInput" value="0" min="0"></td>' +
            '<td><input type="number" class="form-control investmentInput" value="0" min="0" readonly></td>' +
            '<td><input type="number" class="form-control shareInput" value="0" min="0" max="100" readonly></td>' +
            '<td><button type="button" class="btn btn-danger btn-sm removeStockBtn">Delete</button></td>' + 
            '</tr>');
        $('#tickerSelect option[value="' + stock + '"]').prop('disabled', true);
    }

    $('#tickerSelect option').dblclick(function () {
        var selectedStock = $(this).val();
        $('#selectedStocksTable tbody').append('<tr>' +
            '<td>' + selectedStock + '</td>' +
            '<td><input type="number" class="form-control priceInput" value="0" readonly></td>' +
            '<td><input type="number" class="form-control quantityInput" value="0" min="0"></td>' +
            '<td><input type="number" class="form-control investmentInput" value="0" min="0" readonly></td>' +
            '<td><input type="number" class="form-control shareInput" value="0" min="0" max="100" readonly></td>' +
            '<td><button type="button" class="btn btn-danger btn-sm removeStockBtn">Delete</button></td>' + 
            '</tr>');
        $(this).prop('disabled', true);
    });

    $('#selectedStocksTable').on('click', '.removeStockBtn', function () {
        var stockSymbol = $(this).closest('tr').find('td:first').text();
        $('#tickerSelect option[value="' + stockSymbol + '"]').prop('disabled', false); 
        $(this).closest('tr').remove();
        calculateTotalInvestment(); 
        updateShareValues(); 
    });
    

    $('#getPricesBtn').click(function () {
        var startDate = $('#startDate').val();
        var selectedStocks = [];

        $('#selectedStocksTable tbody tr').each(function () {
            var stockSymbol = $(this).find('td:first').text();
            selectedStocks.push(stockSymbol);
        });

        if (!startDate) {
            alert('Please select start date');
            return;
        }

        if (selectedStocks.length === 0) {
            alert('Please select at least one stock');
            return;
        }

        var formattedStartDate = formatDate(startDate);

        $.ajax({
            url: '/get_start_date_prices',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                selected_stocks: selectedStocks,
                start_date: formattedStartDate
            }),
            success: function (response) {
                updatePricesInTable(response);
                calculateTotalInvestment();
                updateShareValues();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });


    $('#showPerformanceBtn').click(function () {
        var selected_stocks = [];
        var share_values = [];
        var quantities = [];

        $('#selectedStocksTable tbody tr').each(function () {
            var stockSymbol = $(this).find('td:first').text();
            var share = parseFloat($(this).find('.shareInput').val());
            var quantity = parseInt($(this).find('.quantityInput').val());

            selected_stocks.push(stockSymbol);
            share_values.push(share);
            quantities.push(quantity);
        });

        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();

        if (!startDate || !endDate || selected_stocks.length === 0) {
            alert('Please select start and end dates and at least one stock');
            return;
        }

        $.ajax({
            url: '/get_performance_data',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                selected_stocks: selected_stocks,
                start_date: startDate,
                end_date: endDate,
                share_values: share_values,
                quantities: quantities
            }),
            success: function (response) {
                var portfolioReturn = $('<div>').html('<strong>Portfolio Return:</strong> ' + response.portfolio_return);
                var performanceChart = $('<div>').html(response.performance_chart);
                $('#portfolioResults').empty().append(portfolioReturn, performanceChart);
                $('#barChart').html(response.bar_chart);
                $('#pieChartInitial').html(response.pie_chart_initial);
                $('#pieChartFinal').html(response.pie_chart_final);
                $('#generateReportBtnContainer').show();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $('#generateReportBtn').click(function () {
    var selected_stocks = [];
    var quantities = [];

    $('#selectedStocksTable tbody tr').each(function () {
        var stockSymbol = $(this).find('td:first').text();
        var quantity = parseInt($(this).find('.quantityInput').val());
        selected_stocks.push(stockSymbol);
        quantities.push(quantity);
    });

    var startDate = $('#startDate').val();
    var endDate = $('#endDate').val();

    if (!startDate || !endDate || selected_stocks.length === 0) {
        alert('Please select start and end dates and at least one stock');
        return;
    }

    $.ajax({
        url: '/generate_report',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
            selected_stocks: selected_stocks,
            start_date: startDate,
            end_date: endDate,
            quantities: quantities
        }),
        xhrFields: {
            responseType: 'blob'
        },
        success: function (response) {
            var blob = new Blob([response], { type: 'application/pdf' });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = 'report.pdf';
            link.click();
        },
        error: function (error) {
            console.error('Error:', error);
        }
    });
});

    $('#optimizePortfolioBtn').click(function() {
        optimizePortfolio();
    });

    function optimizePortfolio() {
        var selectedStocks = [];
        var quantities = [];
        $('#selectedStocksTable tbody tr').each(function() {
            var stockSymbol = $(this).find('td:first').text();
            var quantity = parseInt($(this).find('.quantityInput').val());
            selectedStocks.push(stockSymbol);
            quantities.push(quantity);
        });

        var budget = parseFloat($('#totalInvestment').text());
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        var riskAversion = parseFloat($('#riskAversion').val());

        if (selectedStocks.length === 0 || !startDate || isNaN(budget) || isNaN(riskAversion)) {
            alert('Please fill out all required fields');
            return;
        }

        var requestData = {
            selected_stocks: selectedStocks,
            budget: budget,
            start_date: startDate,
            end_date: endDate,
            risk_aversion: riskAversion
        };

        $.ajax({
            url: '/optimize_portfolio',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(response) {
                var allocationList = $('#allocation-list');
                allocationList.empty();
                allocationList.append('<strong>Allocation:</strong><br>');
                response.allocation.forEach(function(item) {
                    allocationList.append(`<li>${item[0]}: ${item[1]} units</li>`);
                });

                $('#performanceChart').html(response.performance_chart);
                $('#averageReturns').html('<strong>Mean Annual Returns:</strong><br>' + formatData(response.mean_returns));
                $('#volatility').html('<strong>Annual Volatilities:</strong><br>' + formatData(response.volatilities));
                $('#covarianceMatrix').empty().append('<strong>Covariance Matrix:</strong><br>' + formatMatrix(response.cov_matrix, response.tickers));
                $('#correlationMatrix').empty().append('<strong>Correlation Matrix:</strong><br>' + formatMatrix(response.corr_matrix, response.tickers));
                $('#portfolioReturn').html('<strong>Portfolio Return:</strong> ' + response.portfolio_return);
            },
            error: function(xhr, status, error) {
                console.error("Error optimizing portfolio:", error);
            }
        });
    }

    function formatMatrix(matrix, tickers) {
        var formattedMatrix = '<table class="table table-bordered"><thead><tr><th></th>';
        tickers.forEach(function(ticker) {
            formattedMatrix += '<th>' + ticker + '</th>';
        });
        formattedMatrix += '</tr></thead><tbody>';
        tickers.forEach(function(rowTicker) {
            formattedMatrix += '<tr><th>' + rowTicker + '</th>';
            tickers.forEach(function(colTicker) {
                formattedMatrix += '<td>' + matrix[rowTicker][colTicker].toFixed(5) + '</td>';
            });
            formattedMatrix += '</tr>';
        });
        formattedMatrix += '</tbody></table>';
        return formattedMatrix;
    }
    function formatData(data) {
        var formattedData = '';
        for (var key in data) {
            formattedData += key + ': ' + data[key].toFixed(2) + '<br>';
        }
        return formattedData;
    }

    function calculateTotalInvestment() {
        var totalInvestment = 0;
        $('#selectedStocksTable tbody tr').each(function () {
            var investment = parseFloat($(this).find('.investmentInput').val());
            if (!isNaN(investment)) {
                totalInvestment += investment;
            }
        });
        $('#totalInvestment').text(totalInvestment.toFixed(2));
    }

        function updateShareValues() {
        var totalInvestment = parseFloat($('#totalInvestment').text());
        if (isNaN(totalInvestment) || totalInvestment === 0) return;
        $('#selectedStocksTable tbody tr').each(function () {
            var investment = parseFloat($(this).find('.investmentInput').val());
            if (!isNaN(investment)) {
                var share = (investment / totalInvestment) * 100;
                $(this).find('.shareInput').val(share.toFixed(2));
            }
        });
    }

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    function updatePricesInTable(prices) {
        $('#selectedStocksTable tbody tr').each(function () {
            var stockSymbol = $(this).find('td:first').text();
            var price = prices[stockSymbol];
            if (!isNaN(price)) {
                $(this).find('.priceInput').val(price.toFixed(2));
                var quantity = parseFloat($(this).find('.quantityInput').val());
                if (!isNaN(quantity)) {
                    var investment = price * quantity;
                    $(this).find('.investmentInput').val(investment.toFixed(2));
                    calculateTotalInvestment();
                    updateShareValues();
                }
            }
        });
    }
    $('#selectedStocksTable').on('input', '.quantityInput', function () {
        var row = $(this).closest('tr');
        var price = parseFloat(row.find('.priceInput').val());
        var quantity = parseFloat($(this).val());
        if (!isNaN(price) && !isNaN(quantity)) {
            var investment = price * quantity;
            row.find('.investmentInput').val(investment.toFixed(2));
            calculateTotalInvestment();
            updateShareValues();
        }
    });
            
        });
 

    </script>
</body>
</html>